/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*My code starts here*/
/*mixins*/
html {
  font-size: 62.5%;
}
p {
  line-height: 3rem;
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1% 0 1% 0;
  font-size: 2rem;
  background-color: #FBE8E7;
}
nav a {
  text-decoration: none;
  margin: 0%;
  background-color: #FFC4D0;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FCF5EE;
  border-top: 1rem dotted #F7DDDE;
  border-bottom: 1rem dotted #F7DDDE;
  padding: 10% 0 10% 0;
}
header h1 {
  font-size: 7rem;
  background-color: #FBE8E7;
  padding: 5rem;
  margin: 0 30rem 0 30rem;
  border-radius: 2%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2.5rem;
  background-color: #FBE8E7;
}
.skills h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
.skills div {
  width: 50%;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.skills ul li {
  padding: 2%;
  width: 25%;
  list-style-type: circle;
}
.work-history {
  display: flex;
  background-color: #F7DDDE;
  padding: 2% 0 2% 0;
  font-size: 2.5rem;
}
.work-history h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
.work-history div {
  width: 50%;
}
.work-history table {
  width: 100%;
}
.work-history th {
  font-weight: bold;
}
.work-history td,
.work-history th {
  border: 1px solid black;
  text-align: left;
  padding: 0.5rem;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
}
.contact h3 {
  font-size: 3rem;
}
.contact div {
  background-color: #FCF5EE;
  padding: 2rem 0 2rem 0;
  border-top: 1rem dotted #F7DDDE;
  border-bottom: 1rem dotted #F7DDDE;
}
